{% extends "base.html" %}
{% block start %}
{{request.user}}


  <form class="d-flex justify-content-end">
    <div class="row m-2 ">
      <div class="col-md-6">
        <input class="form-control" name="search" placeholder="Search">
      </div>
      <div class="col-md-6">
        <button class="btn btn-success">Search</button>
      </div>
    </div>
  </form>


<table style="width:100%" class="container my-4 col-6 border-1 border-warning shadow-lg text-black">
  <tr>
    <th>Roll No.</th>
    <th>Name</th>
    <th>Branch</th>
    <th>E-mail</th>
    <th>Phone</th>
    <th>Actions</th>
  </tr>
    {% for d in data %}
  <tr>
    <td class="text-center">{{d.rollno}}</td>
    <td class="text-center">
        <a href="stuinfo/{{d}}"> {{d.name}}</a>
    </td>
    <td class="text-center">{{d.branch}}</td>
    <td class="text-center">{{d.email}}</td>
    <td class="text-center">{{d.phone}}</td>
    <td class="text-center">
      <a class="btn btn-danger" href="/delete/{{d.email}}">Delete</a>
      <a class="btn btn-secondary" href="/update/{{d.email}}">Update</a>
    </td>
  </tr>
  {% endfor %}
</table>
<div class="pagination d-flex justify-content-center">
    <span class="step-links row-md-6 d-absolute">
        {% if data.has_previous %}
            <a href="?page={{ data.previous_page_number }}" class="btn btn-success">previous</a>
        {% endif %}

        <span class="current">
            Page {{ data.number }} of {{ data.paginator.num_pages }}.
        </span>

        {% if data.has_next %}
            <a href="?page={{ data.next_page_number }}" class="btn btn-success">next</a>
        {% endif %}
    </span>
</div>
{% endblock%}